.main {
  padding: 2rem;
  /* background-color: rgb(30 41 59); */
  display: flex;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
  gap: 3rem;
}

.board > .hidden {
  background-color: gray;
  cursor: pointer;
}

.board > .mine {
  background-color: red;
}

.board > .number {
  background-color: none;
}

.board > .marked {
  background-color: yellow;
}
