.menu {
  position: absolute;
  z-index: 10;
  /* bottom: 6%; */
  /* padding: 0 0.5rem; */
  background-color: rgb(30 58 138);
  color: white;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  /* transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms; */
}

.item {
  /* border: 1px black solid; */
  padding: 0.8rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /* border-bottom: 1px black solid; */
  background-color: rgb(30 58 138);
  cursor: default;
}

.item:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(30 58 138);
}

.itemDetails {
  font-size: 0.9rem;
}

.closeMenu {
  /* position: absolute; */
  /* text-align: right; */
  /* width: 86%; */
  /* left: 90%;
  bottom: 90%; */
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 90%;
  margin: auto;
  border-radius: 20px;
  background: white;
  border: none;
  height: 1.3rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}
