.main {
  display: flex;
  gap: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  background-color: rgb(30 58 138);
}

.display {
  width: 4rem;
  height: 3rem;
  border: 2px solid rgb(209 213 219);
  background-color: rgb(209 213 219);
  color: rgb(30 58 138);
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.6rem;
  border-radius: 0.25rem;
}

.button {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  background-color: rgb(250 250 300);
  border: 2px solid rgb(209 213 219);
  font-size: 1.8rem;
}
